.hidden {
  display: none;
}

div.hidden {
  display: none;
}

.p-1 {
  margin: 0 1rem;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: no-wrap;
}

:root {
  --bg-color: rgb(252, 252, 252);
  --footer-color: rgb(101, 94, 89);
  --text-color: rgb(0, 0, 0);
  --heading-color: rgb(0, 0, 0);
  --transparent: rgba(0,0,0,0);
  --shadow-light: rgba(221, 221, 221, 0.731);
  --shadow-dark: rgb(213, 213, 213);
  --user-info: rgb(215, 215, 215);
  --error-text: rgb(255, 43, 43);
  --star-grade-light: rgb(199, 199, 199);
  --star-grade-dark: rgb(98, 91, 83);
  --author: grey;
  --card-border: rgb(205, 205, 205);
  --btn: rgb(244, 244, 244);
  --modal-bg: rgb(101, 94, 89);
  --modal-text: white;
  --p-white: white;
}

.dark {
  --bg-color: rgb(38, 56, 43);
  --footer-color: rgb(14, 21, 16);
  --text-color: rgb(181, 190, 182);
  --heading-color: rgb(226, 233, 228);
  --shadow-light: rgb(53, 80, 61);
  --shadow-dark: rgb(27, 37, 29);
  --user-info: rgb(94, 121, 102);
  --error-text: rgb(255, 145, 145);
  --star-grade-light: rgb(94, 121, 102);
  --star-grade-dark: rgb(231, 239, 233);
  --author: rgb(187, 199, 190);
  --card-border:rgb(71, 95, 79);
  --modal-bg: rgb(60, 82, 67);
}
.dark img {
  filter: brightness(90%);
}

h1, h2, h3, h4, h5 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 200;
  padding: 0.5em 0 0 0;
  color: var(--heading-color);
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

p {
  color: var(--text-color);
  padding: 0.5rem 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navLink {
  cursor: pointer;
  padding: 0.5rem 0;
  font-size: 0.8rem;
  font-weight: 100;
  border-bottom: 1px solid var(--bg-color);
  font-family: "Roboto", sans-serif;
}
@media (width >= 576px) {
  .navLink {
    font-size: 0.8rem;
  }
}
.navLink:hover {
  border-color: var(--text-color);
}

.bigText {
  width: 50%;
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}
@media (width >= 576px) {
  .bigText {
    font-size: 2rem;
  }
}

.head {
  padding: 2rem 0;
  font-size: 2rem;
}

#errorText {
  color: var(--error-text);
}

#userInfo {
  color: var(--user-info);
  padding: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

#user {
  text-align: right;
  padding: 0.5rem;
}

input {
  margin-bottom: 1rem;
  accent-color: green;
  color: var(--text-color);
  border-radius: 4px;
}

input[type=submit]:hover {
  box-shadow: 0 0 10px 5px var(--shadow-light);
}

input [type=radio] {
  display: none;
}

input[type=text], input[type=password], input[type=email] {
  background-color: rgb(241, 241, 241);
  padding: 1rem 1rem;
  width: 100%;
  color: black;
  border: 1px solid rgb(231, 231, 231);
}

label {
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

#sortBy {
  background-color: var(--transparent);
  color: var(--text-color);
  padding: 0 0.5rem;
  border-radius: 4px;
  border: none;
  font-weight: 600;
}
@media (width >= 768px) {
  #sortBy {
    font-size: 1.1rem;
    margin: 0 3rem;
  }
}

button {
  cursor: pointer;
  color: var(--text-color);
  border-radius: 4px;
}

.btn {
  cursor: pointer;
  padding: 0.5rem;
  background-color: var(--transparent);
  border: 1px solid var(--text-color);
}

.addBtn {
  background-color: var(--transparent);
  color: var(--star-grade-dark);
  border: none;
  align-self: flex-start;
}
.addBtn:hover {
  color: var(--star-grade-light);
}

.invisible {
  background-color: var(--transparent);
  border: none;
}
.invisible:hover {
  font-weight: bolder;
}

.startBtn {
  background-color: var(--transparent);
  font-weight: 100;
  margin-top: 2.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: 1px solid var(--text-color);
}
.startBtn:hover {
  box-shadow: 0 0 10px 5px var(--shadow-light);
}

.bookThumbnail {
  align-self: flex-start;
  max-width: 130px;
}
@media (width >= 576px) {
  .bookThumbnail {
    max-width: 150px;
  }
}

.bigImg {
  width: 100%;
}
@media (width >= 992px) {
  .bigImg {
    width: 50%;
  }
}

#pagewrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#contentWrapper {
  flex-grow: 1;
  max-width: 1300px;
  width: 100%;
  margin-inline: auto;
}

header {
  padding: 1rem;
  box-shadow: 0 0 10px 5px rgb(67, 109, 79);
  box-shadow: 0 0 10px 5px var(--shadow-dark);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: no-wrap;
  gap: 1rem;
}
@media (width >= 576px) {
  header nav {
    gap: 1.5rem;
  }
}
header .container {
  max-width: 1400px;
  margin-inline: auto;
}

.firstpageContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: no-wrap;
  margin-bottom: 2rem;
}
@media (width >= 768px) {
  .firstpageContainer {
    margin-bottom: 4rem;
  }
}
@media (width >= 992px) {
  .firstpageContainer {
    flex-direction: row;
  }
}

.firstpageInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: no-wrap;
  margin-bottom: 4rem;
  font-size: 1.1rem;
}
@media (width >= 768px) {
  .firstpageInfo {
    gap: 2rem;
    font-size: 1.16rem;
  }
}
@media (width >= 992px) {
  .firstpageInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.firstpageInfo article {
  max-width: 600px;
  padding: 1rem;
  width: 100%;
}
@media (width >= 992px) {
  .firstpageInfo article {
    max-width: 30%;
  }
}

.loginCont {
  max-width: 600px;
  margin: 0 auto;
}

footer {
  padding: 1rem;
  background-color: var(--footer-color);
  color: var(--p-white);
}

.bookContainer {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin: 1rem;
  padding-bottom: 2rem;
}

.card {
  display: flex;
  padding-top: 1rem;
  border-top: 1px solid var(--card-border);
  width: 100%;
}
.card .text {
  width: 100%;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: no-wrap;
}
@media (width >= 768px) {
  .card {
    width: 45%;
  }
}
@media (width >= 1200px) {
  .card {
    width: 30%;
  }
}

.testFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: no-wrap;
}

div.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  background-color: var(--modal-bg);
  color: var(--modal-text);
}

div.round {
  padding: 3rem;
  border-radius: 50%;
}

div.square {
  max-width: 400px;
  padding: 0.5rem;
  background-color: var(--bg-color);
  border: 1px solid var(--text-color);
  border-radius: 4px;
}
div.square p, div.square h2 {
  padding: 0.5rem 0;
  color: var(--text-color);
}
div.square button {
  padding: 0.5rem;
  align-self: flex-end;
}
div.square #loginModalBtn {
  margin: 2rem 0 1rem 0;
}
div.square #loginModalBtn:hover {
  box-shadow: 0 0 10px 5px var(--shadow-light);
}

.modalText {
  padding: 0.5rem;
}
@media (width >= 576px) {
  .modalText {
    padding: 0 2rem 1rem 2rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 1;
}

i, path, svg {
  pointer-events: none;
}

.author {
  color: var(--author);
}

.grade {
  color: var(--star-grade-light);
}

.color {
  color: var(--star-grade-dark);
}

.star {
  display: inline-block;
}

.point {
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
}/*# sourceMappingURL=style.css.map */