@import "partials/variables";
@import "partials/text";
@import "partials/form";
@import "partials/btn";
@import "partials/images";
@import "partials/containers";
@import "partials/modal";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(252, 252, 252);
    // background-color: rgb(45, 76, 56);
    // color: white;
}