//------------------- buttons -------------------

button {
    cursor: pointer;
    color: var(--text-color);
    border-radius: 4px;
}

.btn {
    cursor: pointer;
    padding: 0.5rem;
    background-color: var(--transparent);
    border: 1px solid var(--text-color);
}

//add to readinglist
.addBtn {
    background-color: var(--transparent);
    color:var(--star-grade-dark);

    border: none;
    align-self: flex-start;
    &:hover{
        color: var(--star-grade-light);

    }
}

.invisible {
    background-color: var(--transparent);
    border: none;
    &:hover {
        font-weight:bolder;
    }
}

.startBtn{
    background-color: var(--transparent);
    font-weight: 100;
    margin-top: 2.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 1px solid var(--text-color);
    &:hover {
        box-shadow: 0 0 10px 5px var(--shadow-light);
    }
}
