//------------------- buttons -------------------

button {
    cursor: pointer;
}

.btn {
    padding: 0.5rem;
}

//add to readinglist
.addBtn {
    background-color: rgba(0,0,0,0);
    border: solid rgb(199, 199, 199);
    // border-width: 1px 2px 2px 1px;
    border: none;
    border-radius: 0.5rem;
    align-self: flex-start;
    &:hover{
        // border-width: 2px 1px 1px 2px;
        color: rgb(165, 165, 165);
    }
}

.invisible {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    &:hover {
        font-weight:bolder;
    }
}

.startBtn{
    background-color: rgb(100, 100, 100);
    background-color: rgb(4, 114, 70);
    background-color: white;
    font-weight: 100;
    color: white;
    color: black;
    margin-top: 2.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 1px solid;
    &:hover {
        // background-color: lightgray;
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.731);
    }
}
