//------------------- buttons -------------------

button {
    cursor: pointer;
}

.btn {
    padding: 0.5rem;
}

//add to readinglist
.addBtn {
    background-color: rgba(0,0,0,0);
    color:rgb(95, 95, 95);

    border: none;
    align-self: flex-start;
    &:hover{
        color: rgb(165, 165, 165);
    }
}

.invisible {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    &:hover {
        font-weight:bolder;
    }
}

.startBtn{
    background-color: rgba(0, 0, 0, 0);
    font-weight: 100;
    color: black;
    margin-top: 2.5rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 4px;
    &:hover {
        // background-color: lightgray;
        box-shadow: 0 0 10px 5px rgba(221, 221, 221, 0.731);
    }
}
