#pagewrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#contentWrapper{
    flex-grow: 1;
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
}

header{
    padding: 1rem;
    box-shadow: 0 0 10px 5px rgb(67, 109, 79);
    box-shadow: 0 0 10px 5px var(--shadow-dark);

    nav {
        @include flex($align: baseline);

        gap: 1rem;
        @media($sm){
            gap: 1.5rem;
        }
    }
    .container {
        max-width: 1400px;
        margin-inline: auto;
    }
}





// ------------------- first page -------------------

.firstpageContainer {
    @include flex($direction: column, $align:center);
    margin-bottom: 2rem;
    @media ($md){
        margin-bottom: 4rem;

    }
    @media ($lg){
        flex-direction: row;
    }
}

.firstpageInfo {
    @include flex($direction: column, $align:center);

    margin-bottom: 4rem;
    font-size: 1.1rem;
    
    @media ($md) {
        gap: 2rem;
        font-size: 1.16rem;
    }
    @media($lg) {
        @include flex($justify: space-between, $wrap: wrap);

    }
    article {
        max-width: 600px;
        padding: 1rem;
        width: 100%;
        @media($lg) {
            max-width: 30%;
        }
    }
}

// login / register form container
.loginCont {
    max-width: 600px;
    margin: 0 auto;
}

footer {
    padding: 1rem;
    background-color: var(--footer-color);
    color: var(--p-white);
}



// -------------- books ------------

.bookContainer {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    // if scrollable sideways 
    // overflow: auto;
    // white-space: nowrap;
    margin: 1rem;
    padding-bottom: 2rem;
}
.card {
    display: flex;
    padding-top: 1rem;
    border-top: 1px solid var(--card-border);
    width: 100%;
    .text {
        width: 100%;
        padding-left: 1rem;
        @include flex($direction: column, $justify: space-between);

    }
    @media ($md){
        width: 45%;
    }
    @media ($xl) {
        width: 30%;
    }
}

.testFlex {
    @include flex();
}