#pagewrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#contentWrapper{
    flex-grow: 1;
    // padding: 1rem 1rem;
    max-width: 1300px;
    width: 100%;
    margin-inline: auto;
}

header{
    padding: 1rem;
    box-shadow: 0 0 10px 5px rgb(67, 109, 79);
    box-shadow: 0 0 10px 5px var(--shadow-dark);

    nav {
        display: flex;
        align-items: baseline;
        gap: 1.5rem;
    }
    .container {
        max-width: 1400px;
        margin-inline: auto;
    }
}





// ------------------- first page -------------------

.firstpageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
    @media ($md){
        // margin:1rem;
        margin-bottom: 4rem;

    }
    @media ($lg){
        flex-direction: row;
    }
}

.firstpageInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    
    @media ($md) {
        gap: 2rem;
        font-size: 1.2rem;
    }
    @media($lg) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    article {
        max-width: 600px;
        padding: 1rem;
        width: 100%;
        @media($lg) {
            max-width: 30%;
        }
    }
}

// login / register form container
.loginCont {
    max-width: 600px;
    margin: 0 auto;
}

footer {
    padding: 1rem;
    background-color: var(--footer-color);
    color: var(--p-white);
}



// -------------- books ------------

.bookContainer {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;

    // if scrollable sideways 
    // overflow: auto;
    // white-space: nowrap;
    margin: 1rem;
    padding-bottom: 2rem;
}
.card {
    display: flex;
    padding-top: 1rem;
    border-top: 1px solid var(--card-border);
    width: 100%;
    .text {
        width: 100%;
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }
    @media ($md){
        width: 45%;
    }
    @media ($xl) {
        width: 30%;
    }
}
