button {
    cursor: pointer;
}
.btn {
    padding: 0.5rem;
}
.addBtn {
    background-color: white;
    border: solid rgb(199, 199, 199);
    border-width: 1px 2px 2px 1px;
    border-radius: 0.5rem;
    // align-self: flex-end;
    &:hover{
        // box-shadow: 0 0 10px 5px rgb(231, 231, 231);
        border-width: 2px 1px 1px 2px;
    
    }
}

.invisible {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    &:hover {
        font-weight:bolder;
    }
}
input {
    margin-bottom: 1rem;
}
input {
    accent-color: green;
}
input[type="text"], input[type="password"], input[type="email"] {
    background-color: rgb(241, 241, 241);
    padding: 1rem 1rem;
    width: 95%;
    border-radius: 4px;
    border: 1px solid rgb(231, 231, 231);
    @media ($sm){
        width: 50%;
    }
}
