//------------------- header navigation -------------------

a {
    text-decoration: none;
}
.navLink {
    cursor: pointer;
    font-size: 0.9rem;
    // transition: border-bottom 0.2s ease;
    &:hover {
        font-weight:bolder;
        border-bottom: 1px solid;
    }
}


//------------------- log in form -------------------

input {
    margin-bottom: 1rem;
    accent-color: green;
    color: var(--text-color);
    border-radius: 4px;
}

input[type="submit"]{
    &:hover {
        box-shadow: 0 0 10px 5px var(--shadow-light);
    }
}

input [type="radio"]{
    display: none;
}

input[type="text"], input[type="password"], input[type="email"] {
    background-color: rgb(241, 241, 241);
    padding: 1rem 1rem;
    width: 100%;
    color: black;
    border: 1px solid rgb(231, 231, 231);
}

label{
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

#sortBy {
    padding: 0 0.5rem;
    border-radius: 4px;
    border: none;
    font-size: 1.1rem;
    font-weight: 600;
    @media ($md){
        margin: 0 3rem;

    }
}