i, path, svg {
    pointer-events: none
}


.author {
    color: var(--author);
}
.grade {
    color: var(--star-grade-light);
}
.color {
    color: var(--star-grade-dark);
}
.star {
    display: inline-block;
    cursor: pointer;
}
