h1,h2,h3,h4,h5 {
    font-family: 'Cormorant Garamond', serif;
    padding: 0.5em 0;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}
#errorText {
    color: red;
}
#userInfo {
    color: rgb(215, 215, 215);
    padding: 1rem;
}
