h1,h2,h3,h4,h5 {
    font-family: 'Cormorant Garamond', serif;
    padding: 0.5em 0 0 0;
    color: var(--heading-color);
}


* {
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    color: var(--text-color);
    padding: 0.5rem 0;
}

a {
    color: var(--text-color);
}

.bigText {
    width: 50%;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    @media ($sm){
        font-size: 2rem;
    }
}

// h2 heading in loginform
.head {
    padding: 2rem 0;
    font-size: 2rem;
}

// error log in /register
#errorText {
    color: red;
}


// logged in as
#userInfo {
    color: var(--user-info);
    padding: 1rem;
}


//------------------- star grading -------------------

.author {
    color: var(--author);
}
.grade {
    color: var(--star-grade-light);
    // cursor: pointer;
}
.color {
    color: var(--star-grade-dark);
}