h1,h2,h3,h4,h5 {
    font-family: 'Cormorant Garamond', serif;
    padding: 0.5em 0 0 0;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
}
#errorText {
    color: red;
}
#userInfo {
    color: rgb(215, 215, 215);
    padding: 1rem;
}
p {
    padding: 0.5rem 0;
}

.author {
    color: grey;
}
.grade {
    color: rgb(199, 199, 199);
    // cursor: pointer;
}
.color {
    color: rgb(83, 76, 66);
}