// Breakpoints
$xs: "width >= 370px";
$sm: "width >= 576px";
$md: "width >= 768px";
$lg: "width >= 992px";
$xl: "width >= 1200px";




// reusable classes

.hidden {
    display: none;
}
div.hidden {
    display: none;
}

.p-1 {
    margin: 0 1rem;
}
.p-3 {
    margin: 3rem;
}

.flex-col {
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.flex-1{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    // @media ($md){
    //     justify-content: flex-start;

    // }
}
